<!DOCTYPE html>
<template>
<head>
    <link rel="stylesheet" href="keyboard.css">
    <link rel="stylesheet" href="keyboard/Keyboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<!-- <body> -->
    <!-- <input class="use-keyboard-input" style="position: fixed; width: 300px;"></input> -->
    <form id="form" role="search">
        <input type="search" id="query" name="q" class="use-keyboard-input"
         placeholder="Search..."
         aria-label="Search through site content"
         >
        <button>Search</button>
    </form>
    <script src="keyboard/Keyboard.js"></script>
</body>
</template>