@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('../public/image.jpg');

/*  */
html{
    background-color: gray;
    font-family: 'Inter', sans-serif;
   
}

.content {
    height:540px;
    width: 855px;
}

/* Creates the background for Iribe kiosk with an image of Iribe */
.background-image{
    margin-left:15%;
    height:100%;
    background-color: white;
    align-items: center;
    text-align: center;
    background-image: url("../public/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Transparent blue overlay */
.overlay{
    background-color: rgba(4, 68, 133, 0.8);
    border: 1px black solid;
}

/* Setting global styles for standard practice */
h1{
    color:white;
    font-weight: bold;
    font-size:40px;
    margin-left:10%;
    margin-right:10%;
    margin-top: 5%;

}

h2{
    color:white;
    font-size:22px;
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
}
p{
    font-size:14px;
}

/* button{
    height:100px;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 100%;
    margin:2.5%;
    /* margin:5%; */
/* } */

button:focus{
    background-color: rgba(255, 255, 255, 1);
} */


/* Design the button group */
.button-group{
    display: inline-block;
    border: 1px black solid;
}

/* This will be moved to a separate component */
.landing-page-button{
    height:100px;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 100%;
    margin:2.5%;
    color:black;
}

.landing-page-button:focus{
    background-color: rgba(255, 255, 255, 1);

}


.navigation-button{
    width:70%;
    color:black;
    /* font-weight: bold; */
    font-size:20px;

}
